[Desktop Entry]
Version=1.0
Name=Korsh Core
Comment=Korsh P2P Cryptocurrency
Comment[de]=Verbinde mit dem Korsh peer-to-peer Netzwerk
Comment[fr]=Korsh, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Korsh, eşten eşe kriptografik sanal para birimi
Exec=korsh-qt %u
Terminal=false
Type=Application
Icon=dash128
MimeType=x-scheme-handler/korsh;
Categories=Office;Finance;P2P;Network;Qt;
StartupWMClass=Korsh-qt
